# Either local or production database URL
POSTGRES_URL=<your_postgres_url>

FRONTEND_URL=http://localhost:5173
PORT=4000

PINATA_API_Key=<your_pinata_api_key>
PINATA_API_Secret=<your_pinata_api_secret>

POLYGON_RPC_URL=<your_polygon_rpc_url>

PRIVATE_KEY=<your_private_key>

CONTRACT_ADDRESS=<deployed_contract_address>

AGGREGATION_SERVICE_URL=https://efficaciously-umbiliform-hermine.ngrok-free.dev
# Change it to your own ngrok domain and adjust the aggregation service URL accordingly